# Docker Data
postgres_data/
prosody/data/
keycloak/

# Backups
backups/
!backups/.gitkeep

# Secrets
.env
env/*.env
!env/*.env.example
env/encrypted/*
!env/encrypted/.gitkeep

# exported realm files (often contain credentials/secrets)
keycloak-config/import/*-realm.json

# Prosody Community Modules (These are pulled via setup.sh)
prosody/modules/*
!prosody/modules/.gitkeep

# Certificates prod certs should be handled by Let's Encrypt/Certbot, local stuff = throwaway
prosody/certs/*.key
prosody/certs/*.crt

# Python
__pycache__/
*.py[cod]

.vscode
