KC_DB=postgres
KC_DB_URL=jdbc:postgresql://chat-db:5432/keycloak?currentSchema=keycloak_schema
KC_DB_USERNAME=keycloak_user
KC_DB_PASSWORD=REPLACE_ME
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=REPLACE_ME
KC_HOSTNAME=sso.localhost
KC_PROXY_HEADERS=xforwarded
KC_HTTP_ENABLED=true
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
